@model DataLayer.ViewModels.UploadFileResult
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>آپلود فایل لاگ ورود و خروج کارمندان</title>
</head>
<body>
    <h1>آپلود فایل لاگ ورود و خروج کارمندان</h1>
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    @if (Model.FileUploaded)
    {
        <div style="display: grid; grid-column: 2;">
            <div>
                @if (Model.StructureError.Any())
                {
                    <ul>
                        @foreach (var error in Model.StructureError)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
                else
                {
                    <p>خطای ساختاری وجود ندارد</p>
                }
            </div>
            <div>
                @if (Model.ValidationErrors.Any())
                {
                    <ul>
                        @foreach (var error in Model.ValidationErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
                else
                {
                    <p>خطای اعتبارسنجی وجود ندارد</p>
                }
            </div>
        </div>
    }
</body>
</html>